@model IList<facebook_mvc.Models.friend_requests>

@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/fb-icon-sm.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <s>
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
    </s>
    <link rel="icon" href="~/images/fb-icon-sm.png">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Facebook</title>
</head>
<body>
    <!-- the main body container of both Request&Suggestion used bootstrap so some classs make no sence
        what we need is the container with the class friend-request & friend-suggestion -->
    <div class="container card my-5">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!--Friend Request tab  -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests"
                        type="button" role="tab" aria-controls="home" aria-selected="true">
                    Friends Requests
                </button>
            </li>

        </ul>
        <!-- tabs content -->

        <div class="tab-content" id="myTabContent">
            <!-- friend request container start  -->
            @{ foreach (var item in Model)
                {
                    <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                        <!-- friend request -->
                        <div id="friend-request" class="friend-request  py-3">
                            <a id="friend-request-profile" href="view-friend-request-profile.html" class="account-data flex">
                                <!-- account img -->

                                <img id="account-img " class="account-img rounded-circle" src="@Url.Content(item.user_profile.profile_img)" alt="" class="img">
                                <!-- account name -->
                                <h2 id="account-name" class="account-name">@item.user_profile.Fname @item.user_profile.Lname</h2>
                            </a>
                            <!-- btns -->
                            <div class="add-delete">
                                <!--Accept btn  -->
                                <a href="@Url.Action("accept", "Friends", new { friend_id = item.user_profile.user_id })"  id="accept-add" class="btn btn-outline-primary">Accept</a>
                                <!-- Delete -->
                                <a href="@Url.Action("reject", "Friends", new { friend_id = item.user_profile1.user_id })" id="delete-add" class="btn btn-outline-danger">Delete</a>
                            </div>


                        </div>
                    </div>}}

        </div>

    </div>

</body>

</html>


